---
name: master

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v1
        with:
          command: "tfsec --version"
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # automatically provided
